.container {
  display: flex;
  width: 100vw;
}
.viewer {
  flex: 1;
  &.grid-4-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.terminal {
  background-color: black;
  color: white;
  display: block;
  height: 100vh;
  width: 300px;
  align-self: flex-end;
  order: 1;
  margin-left: auto;
}
.bash {
  color: white;
  font-size: medium;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  display: inline;
}
