.container {
  padding: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.pre {
  white-space: pre-wrap;
  overflow-x: auto;
}
